
.container {

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

}

.navbar{
  .nav-link{
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }
  &.bg-dark{
    background: map-get($colors, "info-darker") !important;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    a{
      color: #fff;

      &.active{
        font-weight: 600;
      }
    }
  }

  &-brand{
    font-size: 20px;
    font-weight: 700;
  }
}

.modal-header{
  .close{
    font-size: 44px;
    height: 72px;
    width: 72px;
    padding: 0;
    text-align: center;
    font-weight: 300;
  }
  .modal-title{
    color: map-get($colors, "info-darkest");
  }
  &.p0{
    padding: 0 0 0 32px;

    .close{
      margin: 0;
    }

    .modal-title .txt{
      line-height: 72px;
    }
  }
}

.modal-body{
  &.p0{
    padding: 0;
  }
}

.modal-full{
  max-width: 100%;
  margin-left: 24px;
  margin-right: 24px;

  @media(min-width: 1200px){
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-table{
  max-height: calc(100vh - 280px);
  overflow-y: auto;
}


.btn {
  &:active,
  &:focus,
  &:active:focus{
    outline: none;
    box-shadow: none !important;
  };

  &.btn-lg{
    line-height: 40px;
    font-weight: 600;
  }
}

.btn.btn-primary {
  border: none;
  background: map-get($colors, "purple-dark");

  &:active,
  &:focus,
  &:active:focus{
    outline: none;
    box-shadow: none !important;
  };

  &:hover{
    background: map-get($colors, "purple-darker");
  };

  &:active{
    background: map-get($colors, "purple");
  };

}

.btn-mini{
  padding: 2px 8px;
  font-size: 10px;
}