.page-confirm{
  width: 450px;
  margin: 0 auto;
  padding: 96px 0 100px;

  text-align: center;

  &-head{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  &-sub-head{
    font-size: 28px;
    font-weight: 600;
  }
  &-buttons{
    margin-top: 80px;
  }
}