.form {
  &-create {
    min-height: 70vh;
    background: #fff;
    padding: 55px 115px;
    .row {
      margin: 0 -12px;
    }
    .row + .row {
      margin-top: 20px;
    }
    .cell {
      padding: 0 12px;
    }
    .w260 {
        width: 260px;
    }
    .size {
      font-size: 24px;
      line-height: 1;
      font-weight: 600;
      margin-top: 32px;
    }
    .input {
      padding-top: 14px;
      padding-bottom: 14px;
    }
    .dropdown-menu {
      width: 100%;
      background: #303E4E;
      .dropdown-item {
        color: #fff;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
        font-weight: bold;
        &:hover {
          color:#303E4E;
        }
        &:disabled {
          color: #6D7782;
        }
        .tag {
          width: 28px;
          height: 28px;
          line-height: 28px;
          border-radius: 100%;
          color:#fff;
          display: block;
          margin-left: 22px;
          &.bg-gray {
            background: #C4C4C4;
          }
          &.bg-success {
            background: #44D8A3;
          }
        }
      }
    }
    .input-title {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .scope {
      margin-top: 31px;
      height: 60px;
      border: 1px solid #6d7782;
      border-radius: 2px;
      width: 260px;
      &-item {
        width: 50%;
      }
      &-item:first-child {
        border-right: 1px solid #6d7782;
      }
      .price {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 600;
        color: #303e4e;
      }
      .tit {
        font-size: 10px;
        line-height: 1.1;
        color: #6d7782;
      }
    }
    &-footer {
      margin-top: 120px;
      .footer-btn {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        padding: 19px 65px;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
      }
      .drop-down {
        background: #ffffff;
        border: 1px solid #e1e4e8;
        color: #303e4e;
      }
      .submit {
        background: #615fb8;
        border: 1px solid #615fb8;
        color: #fff;
      }
    }
  }
}
